<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{yyyy/MM/dd HH:mm:ss,SSS} - [ %-6p] - %C{3}.%M(%F:%L) - %m%n}{FATAL=red bold blink, ERROR=red, WARN=yellow bold, DEBUG=cyan}"
                    disableAnsi="false">
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ffavaro99.nessie" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>